.head{
    text-align: center;
    background-color: yellowgreen;
    padding: 1px;
}
.main{
    text-align: center;
    padding:  1px;
    background-color: tomato;
}
#name{
    color: aquamarine;
}
#birth{
    color: aliceblue;
}
#number{
    color: blue;
}

.footer{
    text-align: center;
    padding: 1px;
    font-size: large;
    background-color: aquamarine;
}
.bd{
    background-color: violet;
}